<!DOCTYPE html>
<html lang="en">
  <%- include('partials/head') %>
  <body>
    <%- include('partials/header') %>
    <main>
      <div id="showDiv">
        <h1 id="stockName"><%= stock.name %></h1>
        <br />
        <div id="stockDetails">
          <h2>
            <%= stock.stockQty %> shares of $<%= stock.ticker.toUpperCase() %>
            at $<%= stock.price %> each.
          </h2>
        </div>
        <br />
        <div id="buttonDiv">
          <a href="/stocks/<%=stock._id%>/edit"
            ><button id="editButton">Edit This Entry</button></a
          >
          <form action="/stocks/<%= stock._id %>?_method=DELETE" method="post">
            <input type="submit" value="Delete Entry" />
          </form>
        </div>
      </div>
    </main>
  </body>
</html>
